@import './variables';
@import './header';
@import './footer';


.divider{
    max-width: 742px;
    width: 63.659%;
    height: 1px;
    margin: 100px auto 100px auto;
    border-bottom: 4px solid $grey-5;
}

.wrapper{
    max-width: 1546px;
    margin: auto;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
}

.content{
    height: calc(100vh - 1038px);
    min-height: 102px;
}

@media (min-width: 768px) and (max-width: 850px) {
    .divider {
        margin: 70px auto 70px auto;
    }
}

@media (max-width: 1600px){
    .wrapper{
        margin: 0 30px;
    }
}

@media (max-width: 575px){
    .wrapper{
        margin: 0 20px;
    }
    .divider {
        margin: 50px auto 50px auto;
    }
}